.ant-menu-item{
  padding-left: 10px !important;
}

.ant-menu-inline {
   border: 0 !important;
}

.ant-page-header-heading-sub-title {
  line-height: 30px !important;
}

aside {
  min-width: 100% !important;
  max-width: 100% !important;
}