body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hide {
  display: none !important;
}

.block {
  display: block !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-20 {
  margin-top: 20px;
}

.m-b-10 {
  margin-bottom: 10px !important;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-15 {
  padding: 15px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.text-right {
  text-align: right;
}

.ant-card, .ant-list-item-meta-title>a, .ant-list-item-meta-title, .ant-table, .ant-menu-item>a {
  color: black !important;
}

.ant-card-head {
  min-height: 40px !important;
}

.color-red {
  color: red;
}

.underline {
  text-decoration: underline;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}