<div id="site-navigation" class="site-nav-container">
  <div class="site-nav-container-last">
    <p class="title">Menu</p>
    <div class="main-navbar">
      <nav class="primary-menu">
        <ul class="menu-collection">
          <li class="navi1"><a href="/"><span>Trang chủ</span></a></li>
          <li class="navi1 has-sub nav-level0">
            <a href="/collections/all">Tủ sách nhện</a>
            <span class="icon-subnav"><i class="fa fa-angle-down"></i></span>
            <ul class=" submenu subnav-children">
              <li class="navi2"><a href="/products/nguoi-trong-muon-nghe-nganh-it-co-gi">Người trong muôn nghề:
                  Ngành IT có gì?</a></li>
              <li class="navi2"><a href="/products/nguoi-trong-muon-nghe">Người trong muôn nghề</a></li>
              <li class="navi2"><a href="/products/du-hoc-ky-van-dam-co-chi">Du học ký: vạn dặm có chị?</a></li>
              <li class="navi2"><a href="/products/dam-ba-cai-tuoi-tre">Dăm ba cái tuổi trẻ</a></li>
            </ul>
          </li>
          <li class="navi1"><a href="/blogs/chuyen-nha-nhen"><span>Chuyện nhà Nhện</span></a></li>
          <li class="navi1"><a href="https://nguoitrongmuonnghe.Xetaigianat.vn/it"><span>Dự án mới</span></a></li>
          <li class="navi1"><a href="/pages/lien-he"><span>Liên hệ</span></a></li>
        </ul>
        <ul class="menu-about">
        </ul>
      </nav>
    </div>
  </div>
</div>