
	.bgr-blue{
		background-color: #1e88e5;
	}
	.bgr-blue-dark{
		background-color: #177bbb;
	}
	.bgr-bluedark{
		background-color: #0d47a1;
	}
	.input-login {
		height: 37px;
		color: #0d0f15;
		font-size: 13px;
	}
	.button-login {
		width: 100%;
		color: #ffffff;
		padding: 5px 0px;
		font-size: 15px
	}
	.button-login:hover {
		opacity: 0.86;
		color: #ffffff;
	}
	.button-login:focus {
		color: #ffffff;
	}
	.p-b-md{
		padding-bottom: 15px;
	}

	.btn-printer {
		display: block;
		margin: 0;
		text-align: left;
		color:black;
	}

	.btn-printer:hover {
		color:#337ab7;
	}

	.table-flex_carrier {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		border-collapse: collapse;
		border: 1px solid #ddd;
	}

	.table-flex_carrier div {
		padding: 8px;
	}

	.table-flex_carrier .col-header {
		font-weight: bold !important;
		background-color: #479CCF !important;
		color: #FFF !important;
	}

	.table-flex_carrier .col-flex {
		width: 33%;
	}

	.table-flex_carrier .col-flex_full {
		width: 100%;
	}

	.normal-text{
		font-size: 13px !important;
		font-weight: normal !important;
	}

	.card-item {
		width: 100%;
		float: left;
		position: relative;
		min-height: 1px;
		margin-bottom: 15px;
	}

	.card-title-inline{
		position: absolute;
		margin: -10px 0 0 12px;
		z-index: 100;
		background: white;
		padding: 0 5px;
	}

	.card-content{
		padding: 15px;
		border: 1.2px dotted #e1e1e1;
		border-radius: 3px;
		margin-bottom: 0px;
		width: 100%;
		float: left;
		position: relative;
		min-height: 1px;
	}

	.bottom-card-item{
		text-align: right;
		padding: 10px;
		border-top: 1px solid #d8d8d8 !important
	}
	.container {
		padding-right: 15px;
		padding-left: 15px;
		margin-right: auto;
		margin-left: auto;
		height: 80vh;
	}

	#login-form {
		margin: 5vh 0;
	}

	.aside-xl {
		width: 400px !important;
	}
	.m-b {
		margin-bottom: 15px;
	}