<div class="main-header--menu">
  <nav class="navbar-mainmenu">
    <ul class="list-mainmenu">
      <li class="">
        <a href="" title="Trang chủ">
          Trang chủ
        </a>
      </li>
      <li class="has-submenu active">
        <a href="/collections/all" title="Tủ sách nhện">
          Sản phẩm
          <i class="fa fa-chevron-down" aria-hidden="true"></i>
        </a>
        <ul class="list-submenu">
          <li class="">
            <a href="/collections/all" title="Người trong muôn nghề: Ngành IT có gì?">
              Hino
            </a>
          </li>
          <li class="">
            <a href="/collections/all" title="Người trong muôn nghề">
              Isuzu
            </a>
          </li>
        </ul>
      </li>
      <li class="">
        <a href="/blogs" title="Tin tức">
          Tin tức
        </a>
      </li>
      <li class="">
        <a href="/pages/lien-he" title="Liên hệ">
          Liên hệ
        </a>
      </li>
    </ul>
  </nav>
</div>